* {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: sans-serif
}

.navbar-wrapper {
    background-color: #f2f2f2;
  
}

.navbar-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
    color: white;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin-right: 10px;
}

ul {
    display: flex;
    list-style: none;
    color: black;
    gap: 16px;
    cursor: pointer;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: medium;

}

ul li:hover {
    color:red;
}
